* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-position: center;
  background-size: cover;
}

.rd2d2-background{
  background-image: url("./assets/r2d2Background.webp");
}

.fight-background{
  background-image: url("./assets/r2d2GameFight.webp");
}

.rebals{
  background-image: url("./assets/Redstarbird.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.r2d2{
  background-image: url('./assets/r2d2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.empire{
  background-image: url('./assets/empire-icon-21.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;  
}

.pre-play-menu{
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 110vh;

  background-image: url("./assets/starWarsPrePlayMenu.jpg");
  background-position: center;
  background-size: cover;
}

.pre-play-menu-off{
  display: none;
}

.center-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 160px;
}

.choose-with-by-whom-play{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.custom-label{
  font-family: Kufam, sans-serif;
  font-family: 'Martian Mono', monospace;
  color:yellow;
}

.custom-input{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}


.custom-input:last-child{
  margin-right: 0;
}

.play-button{
  cursor: pointer;

  width: 80px;
  margin: 0 auto;
  padding: 10px;

  background-color: gold;
  border-radius: 10px;
}

.play-button:hover{
  background-color: yellow;
  box-shadow: 0 -4px 37px 7px rgb(255 255 0 / 100%);
}

.table-tic-tac-toe{
  width: 300px;
  height: 300px;
}

.line{
  border: 1px solid black;
  
}  

.cell{
  border: 1px solid black;
}

.win-message{
  margin-bottom: 15px;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  color: yellow;
}

.modal-end{
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 110vh;

  background-color: rgb(128 128 128 / 85%);
}

.modal-end-off{
  display: none;
}

.win-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 200px;
    margin-bottom: 20px;

    background-color: rgb(0 0 0 / 90%);
    border-radius: 10px;
}


.modal-end-empire{
  background-color: rgb(228 17 17 / 55%);
}

.control-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.modal-end-rebals{
  background-color: rgb(0 4 250 / 55%); 
}


.results{
  position: absolute;
  right: 400px;
  border: 1px solid black;

  @media screen and (width <= 1290px) {
    right: 47%;
    bottom: 50px; 
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 9.5vh;
  margin: 2px;
  
  backdrop-filter: blur(2px);
  border-radius: 5px
}

.footer-github{
  font-family: Kufam, sans-serif;
  font-size: 30px;
  color: rgb(143 14 14);
  text-decoration: none;

  transition: all 0.5s;
}

.footer-github:hover{
  color: white;
}

.footer-rsschool{
  width: 100px;
  height: 50px;
}

.footer-date{
  font-family: Kufam, sans-serif;
  font-size: 17px;
  color: rgb(143 14 14);
  text-decoration: none;

  transition: all 0.5s;
}
